h1 {
    text-align: center;
}

#blanks {
   width: 80%;
   margin: 50px auto;
}

#story {
    width: 80%;
    margin: 50px auto;
 }

body {
    background: lavenderblush;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
}

.hidden {
    display: none;
}

button {
    font-size: 1.1em;
}

